body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.app-loader {
  position: absolute;
  margin: 0;
}
.app-loader.m-hidden {
  display: none;
}
.app-navigation-block .app-logo-icon {
  display: inline-block;
  position: relative;
  top: -1rem;
  left: 4px;
  font-size: 1.4rem;
}
.app-roster-item__header {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.app-roster-item__player {
  width: 100%;
  margin-bottom: -5px;
}
.app-roster-item.active .app-roster-item__header {
  background-color: #ff9800 !important;
  color: #ffffff !important;
}
